form(name="search", action="/search", method="post", class="form-search")
  input(type="text"
        name="artist"
        placeholder="Band or artist"
        class="write"
        autofocus)
  button(type="submit"
         name="Search"
         class="search")
    i.fa.fa-search
